build/
build-release/
imgui/examples/
imgui/misc/

.*
**/.*

!/.gitignore

*.kdev4

imgui/backends/*


!imgui/backends/imgui_impl_sdl3.h
!imgui/backends/imgui_impl_sdl3.cpp
!imgui/backends/imgui_impl_sdlrenderer3.h
!imgui/backends/imgui_impl_sdlrenderer3.cpp


imgui/docs/
imgui/*.md
imgui/*.txt

!imgui/LICENSE.txt
